# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.zd2_Makismov_Kirill.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
